# Ignore everything
**

# Include (don't ignore) the application code
!dewy
!./pyproject.toml
!./poetry.lock

# Re-ignore pycache within `dewy`.
**/__pycache__

# Include (don't ignore) the migrations.
!migrations/*.sql